node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.DS_Store

# Sécurité — NE JAMAIS commiter
.env
.env.local
.env.production

# EAS
eas-update-metadata.json

# TypeScript
*.tsbuildinfo
